/* ================================= */

/* -------- Cover Page Content ----- */

/* ================================= */

.coverPage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    max-width: 793px;
    margin-right: auto;
    margin-left: auto;
}


.page-cover-img {
    max-width: 520px;
    width: 100%;
    margin: 0 auto 30px auto;
}

.page-cover-img img {
    width: 100%;
}

.page-cover-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 0;
}

.logo-bottom {
    max-width: 120px;
    width: 100%;
}

.logo-bottom img {
    width: 100%;
}

.page-cover-detail h1 {
    margin: 0;
    font-size: 28px;
    color: #fff;
    font-weight: 400;
}

.page-cover-detail h1 span {
    display: block;
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 34px;
}

/** Welcome Page Cover **/

.wellcome-page .page-cover-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    padding: 30px;
}

.logo-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 45px;
}

.logo-text img {
    width: 90px;
}

.logo-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #FFB4C1;
    text-transform: uppercase;
    margin: 0;
}

.logo-bottom-lg {
    max-width: 280px;
    width: 100%;
}

.logo-bottom-lg img {
    width: 100%;
}

.logo-text span {
    background: #fff;
    height: 25px;
    width: 1px;
    display: inline-block;
    margin: 0 16px;
}

/** Page Three **/

.page-three-block .row {
    align-items: center;
}

.left-side-img {
    padding: 0 0 0 30px;
}

.left-side-img img {
    width: 100%;
}

.page-three-block p,
.page-three-block .text-gris,
.page-three-block .text-bold {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    text-align: justify;
}

.page-three-block .text-bold {
    margin-top: 20px;
    font-weight: 600;
}

.page-three-block .text-gris {
    color: #939393;
    font-weight: 600;
    margin: 30px 0;
}