/* ================================= */

/* ---------- General CSS ---------- */

/* ================================= */

body {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Silka';
    padding: 0;
    margin: 0;
}

a {
    color: #631aff;
}

*,
::after,
::before {
    box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

h3 {
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

.h5-centered {
    font-family: Silka;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}

.text-centered {
    text-align: center;
}

.line-heading {
    position: relative;
    margin-top: 30px;
}

.line-heading::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #631AFF;
    width: 100%;
    height: 7px;
    border-radius: 40px 0 0 40px;
}

.line-heading h2 {
    position: relative;
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    color: #631AFF;
    margin: 0;
    z-index: 1;
    background: #fff;
    display: inline-block;
    padding: 0 20px 0 0;
}

.heading-lg {
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 42px;
    line-height: 47px;
    color: #631AFF;
}

.italic-note {
    font-size: 10px;
    font-style: italic;
}

.avoid-page-break {
    page-break-inside: avoid;
}

img {
    background: #ffffff00;
    margin: auto;
    width: auto;
    height: auto;
}

/* ================================= */

/* ------ Equal Setion Block ------- */

/* ================================= */




/** Address Block **/

.address-block {
    border-left: 8px solid #631AFF;
}

.address-block p {
    font-family: 'silka-regular-webfont';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin: 35px 0 0 25px;
    text-transform: uppercase;
}

/****/

.choice-wrapp {
    display: flex;
    flex-direction: column;
}

.option-wrapp {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -15px 0 -15px;
}

.option-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
}

.option-col-box {
    /* border: 1px solid #93882A; */
    background-color: #f5f5f5;
    border-radius: 7px;
    position: relative;
    padding: 60px 10px 30px 10px;
    filter: grayscale(100%);
    transition: filter 600ms ease;
}

.option-col:first-child .option-col-box {
    filter: grayscale(0);
    background-color: #ffffff;
    border: 1px solid #631aff;
}

.option-col-box span {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #979797;
    border-radius: 40px;
    padding: 6px 15px;
    color: #fff;
}

.option-col:first-child .option-col-box span {
    background: #631aff;
}

.option-col-box h5 {
    margin: 0;
    display: flex;
    width: 100%;
    color: #631AFF;
    font-family: 'Gt ultra fine';
    font-size: 11px;
}

.option-col-box h5 img {
    width: 35px;
    margin-right: 10px;
}

.option-col-box p {
    font-size: 10px;
}

.option-col-box .dotted-list li {
    font-size: 10px;
}

/* ================================= */

/* ----------- Text Card ----------- */

/* ================================= */

.text-card-wrapp {
    background: #FFFFFF;
    border: 1px solid #631AFF;
    border-radius: 7px;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 15px;
    page-break-inside: avoid;
}

.text-card-box {
    padding: 7px 20px;
    page-break-inside: avoid;
}

.text-card-wrapp h3 {
    margin: 0;
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
    display: block;
    background: #631AFF;
    padding: 5px 10px;
    text-align: center;
    letter-spacing: 1px;
}

.left-heading .text-card-wrapp h3 {
    padding: 5px 20px;
    text-align: left;
}

.text-card-wrapp p {
    font-family: 'silka-regular-webfont';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #000000;
    margin: 7px 0;
}

.text-card-wrapp p span,
.text-card-wrapp ul li span,
.h6 span {
    color: #631AFF;
}

h6 {
    font-size: 14px;
}

.text-card-wrapp ul,
.text-card-wrapp ol {
    margin: 0 0 0 25px;
    padding: 0;
}

/** Plain text box **/

.plain-text-box {
    background: #F5F5F5;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    padding: 20px 35px;
    margin-top: 30px;
    page-break-inside: avoid;
}

.plain-text-box p,
.plain-text-box ul li,
.plain-text-box ol li {
    font-family: 'silka-regular-webfont';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #555555;
    margin: 7px 0;
}

/* a modifier */

.plain-text-box h3 {
    margin: 0;
    font-family: 'Gt ultra fine';
    font-weight: 900;
    font-size: 18px;
    line-height: 28px;
    color: #555555;
}




.text-card-wrapp p.green-text {
    color: #07CD85;
    margin: 15px 0;
}

.text-card-wrapp p.red-text {
    color: #FF474E;
}

/****/

.print-box {
    display: flex;
}

.print-box p {
    display: flex;
    align-items: center;
    margin: 10px 20px 20px 0;
}

.print-box p a {
    display: inline-block;
    color: #631AFF;
    margin-left: 5px;
}

/****/

.two-equal-section {
    display: flex;
    align-items: center;
}